.parallax {
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.scroller {
  font-size: 28px;
  font-weight: 700;
  text-transform: uppercase;
  white-space: nowrap;
  display: flex;
  width: fit-content;
}

@media (max-width: 768px) {
  .scroller {
    font-size: 24px;
  }
}

@media (max-width: 480px) {
  .scroller {
    font-size: 18px;
  }
}
